.welcome-container {
    background-image: linear-gradient(to bottom right, rgba(0,0,0,0), rgb(0, 133, 250));
 
    /* display:inline-block; */
    display: flex;
    height: 700px;
    width: 100%;    
}

.title-container {
    width: 55%;
    margin: auto;
}

.title-text-container {
    text-align: center;
}

.title-text {
    font-size: 60px;
    position: relative;
    animation-name: top-title-appear;
    animation-duration: 1s;
}

@keyframes top-title-appear {
    0% {bottom: 50px; opacity: 0%}
    100% {bottom: 0px; opacity: 100%}
}



.name-container {
    position: relative;
    animation-name: name-appear;
    animation-duration: 1s;
}

@keyframes name-appear {
    0% {right: 75px; opacity: 0%}
    100% {right: 0px; opacity: 100%}
}

.im-text {
    font-size: 60px;
}

.name-text {
    font-size: 60px;
    font-weight: bold;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255));
    color: transparent;
    background-clip: text;
}

.welcome-text {
    font-size: 35px;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255));
    color: transparent;
    background-clip: text;
    position: relative;
    animation-name: welcome-appear;
    animation-duration: 1s;
}


@keyframes welcome-appear {
    0% {top: 75px; opacity: 0%}
    100% {top: 0px; opacity: 100%}
}

.profile-pic-container {
    /* display:flex; */
    align-content: center;
    /* background-color: rgb(219, 14, 255); */
    width: 45%;
}

.profile-pic {
    width: 70%;
    height: 65%;
    margin-left: 10px;
    position: relative;
    animation-name: picture-appear;
    animation-duration: 1.25s;
}

@keyframes picture-appear {
    0% {left: 200px; opacity: 0%}
    100% {left: 0px; opacity: 100%}
}

