.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color: rgb(0, 35, 106);
    color: white;
    text-align: center;
    display:flex;
    flex-direction: row;
    
}

.social-link-container {
    width: 5%;
    height: 100%;
    /* background-color: black; */
}

.social-image-container {

    margin-top:13px;
}

.linkedInIcon {
    /* background-color: white; */
    width: 50px;
    height: 50px;
    transition: 0.25s;
    border-radius: 5px;
}
.linkedInIcon:hover {
    transition: 0.25s;
    background: rgb(81, 81, 81);
}

.gitHubIcon {
    /* background-color: white; */
    width: 50px;
    height: 50px;
    transition: 0.25s;
    border-radius: 5px;
}
.gitHubIcon:hover {
    transition: 0.25s;
    background: rgb(81, 81, 81);
}

.youtubeIcon {
    /* background: white; */
    width: 70px;
    height: 50px;
    transition: 0.25s;
    border-radius: 5px;
}

.youtubeIcon:hover {
    transition: 0.25s;
    background: rgb(81, 81, 81);
}

.long-container {
    width: 70%;
    height: 100%;
    /* background-color: blue; */

    /* margin: auto; */
}

.rights-container {
    width: 20%;
    height: 100%;
    /* background-color: rgb(0, 0, 80); */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
}

.text-rights{
    margin-top: 12px;
}